body {
    background-color: var(--neutral-dark);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nft-card{
    width:350px;
    background-color: var(--neutral-medium);
    border-radius: 15px;
    padding: 25px;
}

img{
    width: 100%;
    border-radius: 7px;
}

.title-link .title{ 
    font-size: 22px;
    color: #ffffff;
    margin: 25px 0 20px;
}

.about{
    color: var(--primary-soft);
    font-style: 18px;
    font-weight: 300;
    line-height: 25px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info .price {
    color: var(--primary-medium);
}

.info .days-left{
    color: var(--primary-soft);

}

.creator{
    display: flex;
}